// Переменные основных цветов
$dark: #1D1D39;
$blue: #6C63FF;
$purple: #FF22B0;
// #51C853
$green: #43C065;
$green2: rgb(5, 150, 105);
$yellow: #FCD425;
$red: #F43645;
$darkerRed: #f32434;
$gray: #F3F2F8;